.project {
  box-shadow: 10px 10px 4px rgba(0, 0, 0, .4);
  border-radius: 20px;
  border: 2px solid rgba(0,150,136, .7);
  padding: 0;
}

div.project:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
  transition: 0.5s;
}

.img-template {
  border-radius: 20px 20px 0 0;
}

.project-title {
  color: rgba(0,150,136, .9);
  font-size: 1.9em;
}

.project-summary {
  margin: 5px auto;
  min-width: 70%;
}

.project-row {
  margin-top: 10%;
}

@media only screen and (max-width: 771px) {
  .project-row {
    margin-top: 3%;
  }

  .project {
    margin-top: 10%;
  }
}
