hr {
  border: 1px solid white;
  margin-top: 0;
  margin-bottom: 10px;
}

.heading {
  margin-bottom: 0;
}

.project{
  margin-top: 3%;
  padding: 10px;
}

.project-img > a> img{
  border-radius: 50%;
  border:2px solid #1D1F20; 
}

.project-img > a > img:hover{
  border-radius: 60%;
  border:10px solid #1D1F20; 
}

.project-content{
  margin-top: 10%;
  background: #000000;
  padding: 10px;
  text-align: left;
}

.project-content h3{
  text-align: left;
}

@media only screen and (max-width: 5600px){
  .project-img > a > img:hover{
      border-radius: 60%;
      border:5px solid #1D1F20; 
  }
}