ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 12px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.section-content {
  border-left: 1px solid #7d97ad;
  position: relative;
  list-style-type: none;
  padding-bottom: 1rem;
  padding-left: 0;
}

.section-content h3 {
  color: #00bf92;
}

.section-content article {
  padding: 2%;
}

.section-content p {
  margin-left: 0;
  margin-bottom: 0;
}