ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 12px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.section-content {
  border-left: 1px solid #7d97ad;
  position: relative;
  list-style-type: none;
  padding-bottom: 1rem;
  padding-left: 0;
}

.section-content h3 {
  color: #00bf92;
}

.section-content article {
  padding: 2%;
}

.section-content p {
  margin-left: 0;
  margin-bottom: 0;
}

.resume {
    float: right;
    margin-top: 5%;
    margin-bottom: 2%;
    cursor: pointer;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #009688;
}


.resume a:hover {
    text-decoration: none;
}

.resume:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
  transition: 0.5s;
}
