/*
 *
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

header, section, footer, nav, main, article {
    display: block;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    margin-top: 5%;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 2em;
    text-shadow: 1px 1px #4db6ac;
}

p {
    font-size: 1.2em;
    margin-bottom: 5%;
    width: 40%;
    word-wrap: break-word;
    margin-left: 30%;
}

hr {
    border-color: #4db6ac;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
}

a {
    min-width: 48px;
    min-height: 48px;
}

strong {
    color: #004d40;
}

article {
    font-size: 2em;
    padding: 2% 10% 2% 10%;
    text-align: justify;
}

/*
 *
 * Background Colors and a
 * simple class to align text
 *
 */
.bg-primary {
    background-color: #009688;
}

.bg-primary-light {
    background-color: #4db6ac;
}

.align-right {
    text-align: right;
}


/**/

.logo {
    margin-top: 5%;
    margin-bottom: 5%;
}

/*
 *
 * Navigation bar
 *
 */

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    box-sizing: border-box;
    display: inline-block;
    width: 19%;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    padding: 0;
}

.nav a {
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    color: white;
    padding-top: 10%;
}

.nav a:hover {
    color: #004d40;
    background-color: #009688;
    box-shadow: 2px 2px 2px #4db6ac;
    font-weight: bold;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav-fixed-padding {
    padding-top: 4%;
}

/*
 *
 * Main Content of CSS
 *
 */

.content img {
    margin-bottom: 7%;
    margin-top: 15%;
}

.content hr {
    border-color: #4db6ac;
    margin-left: 5px;
    margin-right: 5px;
}

.content-head {
    font-size: 2em;
}

/*
 *
 * Each Content is divided into
 * sections
 *
 */

.section-head {
    text-transform: uppercase;
    color: #00bfA5;
}

/*
 *
 * The Visit blog button on
 * each page shares this class
 *
 */
.blog {
    float: right;
    margin-top: 5%;
    margin-bottom: 2%;
    cursor: pointer;
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #009688;
}


.blog a:hover {
    text-decoration: none;
}

/*
 *
 * Footer connect method
 *
 */

.connect {
    display: inline;
    width: 30px;
    height: 30px;
    margin: 5px 3px 5px 3px;
}

#current-page a {
    color: #004d40;
    font-weight: bolder;
    background-color: #009688;
    box-shadow: 5px 2px 2px #4db6ac;
}

#head {
    color: white;
    font-weight: 100;
}

#sub-head {
    color: white;
    font-weight: 500;
}


/*
 *
 * Media Queries to change layout
 * according to screen size.
 *
 */

@media only screem and (max-width: 1250px) {
    .nav-fixed-padding {
        padding-top: 7%;
    }
}

@media only screen and (max-width: 991px) {
    .skill img {
        padding-bottom: 0;
    }

    .nav-fixed-padding {
        padding-top: 9%;
    }
}

@media only screen and (max-width: 550px) {
    .nav-fixed-padding {
        padding-top: 12%;
    }

    .blog {
        padding: 10px 10px;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1000px) {

    .skill h4 {
        margin-top: 7%;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 0.7em;
    }

    p {
        width: 100%;
        word-wrap: break-word;
        margin-left: 0;
    }

    .nav-item {
        font-size: 0.5em;
        width: 18%;
    }

    .content-head {
        font-size: 1.2em;
    }

    #current-page a{
        box-shadow: none;
    }
}

@media only screen and (min-width: 401px) and (max-width: 550px) {
    h1 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 0.9em;
    }

    p {
        width: 100%;
        word-wrap: break-word;
        margin-left: 0;
    }

    .nav-item {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 550px) and (max-width: 750px){
    .nav-item {
        font-size: 1em;
    }
}